.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 22px;
}

.pagination-item {
  cursor: pointer;
  padding: 0px 10px;
  user-select: none;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item-selected {
  font-weight: bold;
}

.pagination-next {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid black;
  margin-left: 10px;
}

.pagination-prev {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 15px solid black;
  margin-right: 10px;
}
