.character-card-status {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.character-card-status-icon {
  height: 0.7rem;
  width: 0.7rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background: #4a4747;
  display: inline-block;
}

.character-card-status-icon.Alive {
  background: #069619;
}
.character-card-status-icon.Dead {
  background: #b80707;
}
